parameters:
  level: max
  paths:
      - src
      - ecs.php
      - rector.php
      - extension-ecs.php
      - extension-rector.php
      - tests

  exceptions: #see https://www.youtube.com/watch?v=UQsP1U0sVZM
      check:
        missingCheckedExceptionInThrows: true
        tooWideThrowType: true
      implicitThrows: false
      checkedExceptionClasses:
        - StrictPhp\Conventions\Exception\RuntimeException
